/* .fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}
.fa:hover {
  color: darkblue;
}
p {
  color: darkblue;
} */

#agree-disagree-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
