body {
  background-image: url(./images/brick\ wallpaper.png);
  background-repeat: repeat;
  margin: 0px;
  font-family: 'TheGoodMonolith', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(250,225,225);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
